@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url(../fonts/Montserrat-SemiBold.woff2) format('woff2'),
        url(../fonts/Montserrat-SemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url(../fonts/Montserrat-ExtraBold.woff2) format('woff2'),
        url(../fonts/Montserrat-ExtraBold.woff) format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url(../fonts/Montserrat-Bold.woff2) format('woff2'),
        url(../fonts/Montserrat-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url(../fonts/Montserrat-Regular.woff2) format('woff2'),
        url(../fonts/Montserrat-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
ul {
    list-style: none;
}
ul,
li {
    padding: 0px;
}
p {
    margin: 0;
}

.header {
    background-color: white;
    height: 100px;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
}
.container {
    max-width: 1770px;
    margin-left: auto;
    margin-right: auto;
}
.header__container-content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.header__right {
    display: flex;
    flex: 0 1 992px;
    justify-content: space-between;
    align-items: center;
}
.header__nav {
    flex: 0 1 708px;
    display: flex;
}
.header__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header__list__link {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.main {
    height: 3000px;
}
.section-hero {
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(../img/hero-bg1.jpg);
    border-radius: 32px;
    height: 620px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.section-hero__header {
    width: 837px;
    height: 170px;
    margin-top: 100px;
    margin-left: 80px;
    margin-bottom: 24px;

    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: white;
}
.section-hero__discription {
    margin-left: 80px;
    margin-bottom: 90px;
    width: 790px;
    height: 58px;

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: white;
}
.btn-orange {
    display: inline-block;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: white;
    text-decoration: none;
    border-radius: 16px;
    background-color: #FF9900;
}
.section-hero__btn {
    margin-left: 80px;
    margin-bottom: 55px;
    padding: 25px 39px;
}
.section-hero__slider {
    margin-left: auto;
    margin-right: auto;
    width: 85px;
    display: flex;
    justify-content: space-between;
}
.section-hero__slider__active circle{
    fill: white;
}
.section-about-us {
    margin-bottom: 100px;
}
.section-header {
    height: 59px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 0;
}
.section-about-us__discription {  
    width: 1235px;
    height: 192px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 50px;
}
.section-about-us__cards {
    display: flex;
    justify-content: space-between;
    width: calc(100%-10px);
    height: 634px;
    margin-left: 5px;
}
.section-about-us__card1 {
    width: 868px;
    height: 622px;
    background-image: url(../img/about-us-bg.jpg);
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.section-about-us__card1__discription {
    height: 196px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 32px; 
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;  
}
.section-about-us__card1__discription__text {
    width: 433px;
    height: 96px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: white;
}
.section-about-us__btn {
    box-sizing: content-box;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    border:3px solid #FF9900;
    color: white;
    padding: 19px 36px;
    text-decoration: none;
    border-radius: 16px;
}
.section-about-us__cards2-3 {
    width: 870px;
    height: 622px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 0; 
}
.section-about-us__cards2-3__card {
    width: 100%;
    height: 295px;
    border: 1px solid #CACACA;
    border-radius: 32px;
    background-position: 60px center;
    background-repeat: no-repeat;
    padding-left: 300px;
}
.card1-bg {
    background-image: url(../img/about-us-card1.svg);
}
.card2-bg {
    background-image: url(../img/about-us-card2.svg);
}
.section-about-us__cards2-3__header {
    width: 452px;
    height: 29px;
    margin-top: 65px;
    margin-bottom: 8px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.section-about-us__cards2-3__discription {
    width: 450px;
    height: 128px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}
.section-how-we-work {
    height: 648px;
    width: 100%;
    margin-bottom: 100px;
}
.section-how-we-work__steps-list {
    margin-top: 50px;
    margin-bottom: 45px;
    width: 458px;
    height: 22px;
    display: flex;
    justify-content: space-between;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.steps-list__active {
    color: #E1670E;
}
.section-how-we-work__block {
    background-image: url(../img/how-we-work-image.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.section-how-we-work__header2 {
    width: 331px;
    height: 32px;
    margin-bottom: 8px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
.section-how-we-work__discription {
    width: 758px;
    height: 352px;
    margin-bottom: 18px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}
.section-how-we-work__btn-orange {
    padding: 17px 38px;
    font-size: 16px;
}
.btn-black {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 20px 38px;
    border: 1px solid #000000;
    border-radius: 16px;
    text-decoration: none;
    color:black;
    margin-left: 31px;
}