/* из файла задания */
@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gilroy', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* новое для index*/
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222020;
}
.logo {
  color: white;
  font-family: 'Graphik LCG', sans-serif;

  margin-bottom: 30px;
}
.load_doc {
  color: white;
  background-color: #2f1ce4;
  border: 3px solid white;

  padding: 20px;
}
.more_info {
  color: white;
  border: 3px solid white;

  padding: 20px;
}

/* новое для program */
.container {
  width: 1170px;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 30px;
}
.back_button {
  background-image: url(/img/return.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 18px;
  padding-left: 26px;
}
.course_header {
  font-size: 48px;
  color: #222020;

  margin-top: 100px;
  padding-left: 100px;
}
.course_h2 {
  padding-left: 180px;
  font-size: 36px;
  color: #2f1ce4;

  margin-top: 100px;
  margin-bottom: 25px;
}
.list {
  font-size: 18px;

  padding-left: 200px;
}
p {
  padding-left: 180px;
  margin-bottom: 20px;
}
img {
  width: 300px;
  margin-left: 180px;
}
figcaption {
  width: 300px;
  margin-left: 180px;
  text-align: center;
}
/* остаток с прошлой верстки с дополнением*/
table,
td,
th {
  border: 1px solid #000;
}
table {
  border-collapse: collapse;

  margin-top: 100px;
  margin-bottom: 25px;
}
td,
th {
  padding: 5px;
}

/* Для modules */
.logo2 {
font-family: 'Graphik LCG', sans-serif;
font-size: 40px;
font-weight: 500;
}

.content2 {
  margin: 0 auto;
  width: 1020px;
}
.moduls_header {
  font-size: 48px;
  margin-left: 24px;
  margin-bottom: 80px;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}

.child {
  display: inline-block;
  width: 480px;
  min-height: 500px;
  margin-right: 60px;
  vertical-align: middle;
  position: relative;
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
}
.back1 {
  background-image: url(/img/photo-1.jpeg);
  background-size: contain;
  margin-bottom: 50px;
}
.back2 {
  background-image: url(/img/photo-2.jpeg);
  background-size: contain;
  margin-bottom: 50px;
}
.back3 {
  background-image: url(/img/photo-3.jpeg);
  background-position: -400px -500px;
  background-size: 300%;
}
.back4 {
  background-image: url(/img/photo-4.jpeg);
  background-size: cover;
  background-position: 0 530px;
}

.modul {
  position: absolute;
  padding-left: 50px;
  padding-top: 28px;
  top: 180px;
  bottom: 0;
  width: 100%;
  background-color: white;
}
.modul_name {
  color: #2f1ce4;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

.list2 {
  list-style: none;
  padding: 0;
  line-height: 36px;
  font-size: 16px;
  font-weight: 500;
}

.number {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 48px;
  color: rgb(234, 234, 234)
}

.right {
  margin-right: 0;
}

.continue_button {
  font-size: 18px;

  margin: 0 auto;
  width: 280px;
  height: 80px;
  margin-top: 100px;
  border: 3px solid #2f1ce4;
  text-align: center;
  padding-top: 26px;
  color: #2f1ce4;
}
.blue_obj {
  padding-bottom: 800px;
  background-image: url(/img/Фигура\ 1.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  width: 100%;
  margin-left: 0;
}
