
@font-face {
	font-family: 'MullerM'; 
	src: url(/fonts/MullerMedium.ttf); 
}
@font-face {
	font-family: 'MullerN'; 
	src: url(/fonts/MullerRegular.ttf); 
}
@font-face {
	font-family: 'MullerB'; 
	src: url(/fonts/MullerBold.ttf); 
}
* {
    box-sizing: border-box;
}
ul,
li {
    padding: 0px;
}
ul {
    list-style: none;
}
p,
span,
h1,
h2 {
    margin: 0;
}
.body {
    background-color: #F1F1F1;
}
.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
.header {
    margin-bottom: 70px;
}
.header-first {
    height: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-first-left {
    width: 474px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-number {
    font-family: 'MullerM';
    font-size: 20px;
    color: #666666;
}

.header-btn-login {
    font-family: "MullerN";
    font-size: 16px;
    text-decoration: none;
    color: #CC9933;

    background-image: url(/img/login.svg);
    background-repeat: no-repeat;
    background-position: 0 6px;
    padding: 4px;
    padding-left: 28px;
}
.header-second {
    height: 70px;
    border-radius: 15px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    width: 68.41%; /*732px*/
}
.header-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header-nav-item-text {
    font-family: "MullerN";
    font-size: 16px;
    text-decoration: none;
    color: #666666;
}

.header-btn {
    display: flex;
    width: 374px;
    padding: 0 5px;
    justify-content: space-around;
}

.btn-style-text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 20px;
    gap: 10px;
    border: 1px solid #CC9933;
    border-radius: 10px;

    font-family: "MullerN";
    font-size: 16px;
    text-decoration: none;
    color: #CC9933;
}

.section-special {
    margin-bottom: 70px;
}
.section-titles {
    font-family: 'MullerN';
    font-size: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.section-special-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.section-special-cards-column {
    width: 573px;
    height: 540px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.section-special-card1 { 
    width: 100%;
    height: 258px;
    border-radius: 15px;
}
.section-special-card2 {
    width: 573px;
    height: 540px;
    border-radius: 15px;
}
.section-special-card1-title {
    width: 420px;
    margin-top: 40px;
    margin-left: 45px;
    margin-bottom: 15px;
    font-family: 'MullerB';
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
}
.section-special-card2-title {
    width: 300px;
    margin-top: 212px;
    margin-left: 45px;
    margin-bottom: 15px;
    font-family: 'MullerB';
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
}
.section-special-card1-price {
    margin-left: 45px;
    margin-bottom: 40px;
    font-family: 'MullerN';
    font-size: 20px;
    color: #FFFFFF;
    opacity: 0.8;
}
.section-special-card2-price {
    margin-left: 45px;
    margin-bottom: 28px;
    font-family: 'MullerN';
    font-size: 38px;
    color: #FFFFFF;
    opacity: 0.8;
}
.section-special-cards-info {
    margin-left: 45px;
    font-family: 'MullerN';
    font-size: 16px;
    text-decoration: none;
    color: #F0BF5F;

    padding-right: 16px;
    background-image: url(/img/right_pointer.svg);
    background-position: right;
    background-repeat: no-repeat;
}
.special_bg1 {
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
    url(/img/cards_bg1.jpg);
}
.special_bg2 {
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
    url(/img/cards_bg2.jpg);
}
.special_bg3 {
    background-image: url(/img/cards_bg3.jpg);
}

.section-about_us {
    margin-bottom: 70px;
}
.section-about_us-text {
    
    font-family: 'MullerN';
    font-size: 16px;
    line-height: 200%;
    max-width: 888px;
    color: #000000;
}
.section-services {
    margin-bottom: 70px;
}
.section-services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.section-services-item {
    display: flex;
    flex-direction: column;
    width: 573px;
    height: 330px;
    background-repeat: no-repeat;
    justify-content: end;
}
.section-services-item:nth-child(1) {
    margin-bottom: 24px;
}

.services_bg1 {
    background-image: url(/img/services_bg1.jpg);
}
.services_bg2 {
    background-image: url(/img/services_bg2.jpg);
}
.services_bg3 {
    background-image: url(/img/services_bg3.jpg);
}
.services_bg4 {
    background-image: url(/img/services_bg4.jpg);
}
.section-services-block {
    height: 165px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 0px 0px 15px 15px;
}
.section-services-info {
    display: inline-block;
    margin-top: 26px;
    margin-left: 45px;
    font-family: 'MullerM';
    font-size: 20px;
    line-height: 200%;
    text-decoration: none;
    padding-right: 20px;
    color:#CC9933;
    
    background-image: url(/img/right_pointer.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15px;
}
.section-services-description{
    font-family: "MullerN";
    font-size: 16px;
    line-height: 200%;
    width: 402px;
    margin-left: 45px;
}
.section-benefits {
    margin-bottom: 70px;
}
.section-benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
}
.section-benefits-item {
    width: 276px;
    height: 276px;
    border-radius: 15px;
}
.section-benefits-icon1 {
    background: url(/img/benefits_icon1.svg) no-repeat left 45px top 40px,
    #FFFFFF;
}
.section-benefits-icon2 {
    background: url(/img/benefits_icon2.svg) no-repeat left 45px top 40px,
    #FFFFFF;
}
.section-benefits-icon3 {
    background: url(/img/benefits_icon3.svg) no-repeat left 45px top 40px,
    #FFFFFF;
}
.section-benefits-icon4 {
    background: url(/img/benefits_icon4.svg) no-repeat left 45px top 40px,
    #FFFFFF;
}
.section-benefits-icon5 {
    background: url(/img/benefits_icon5.svg) no-repeat left 45px top 40px,
    #FFFFFF;
}
.section-benefits-icon6 {
    background: url(/img/benefits_icon6.svg) no-repeat left 45px top 40px,
    #FFFFFF;
}
.section-benefits-icon7 {
    background: url(/img/benefits_icon7.svg) no-repeat left 45px top 40px,
    #FFFFFF;
}
.section-benefits-icon8{
    background: url(/img/benefits_icon8.svg) no-repeat left 45px top 40px,
    #FFFFFF;
}
.section-benefits-text {
    width: 189px;
    margin-top: 116px;
    margin-left: 45px;
    font-family: 'MullerN';
    font-size: 16px;
    line-height: 200%;
}