
@font-face {
	font-family: 'MullerM'; 
	src: url(/fonts/MullerMedium.ttf); 
}
@font-face {
	font-family: 'MullerN'; 
	src: url(/fonts/MullerRegular.ttf); 
}
@font-face {
	font-family: 'MullerB'; 
	src: url(/fonts/MullerBold.ttf);
}

* {
    box-sizing: border-box;
}
ul,
li {
    padding: 0px;
}
ul {
    list-style: none;
}
p,
span,
h1,
h2 {
    margin: 0;
}
input:focus,
select:focus,
option:focus,
textarea:focus,
button:focus {
    outline: none;
}
.body {
    background-color: #F1F1F1;
}
.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
.header {
    margin-bottom: 70px;
}
.header-first {
    height: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-first-left {
    width: 474px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-number {
    font-family: 'MullerM';
    font-size: 20px;
    color: #666666;
}

.header-btn-login {
    font-family: "MullerM";
    font-size: 16px;
    text-decoration: none;
    color: #CC9933;

    background-image: url(/img/login.svg);
    background-repeat: no-repeat;
    background-position: 0 6px;
    padding: 4px;
    padding-left: 28px;
}
.header-second {
    height: 70px;
    border-radius: 15px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    width: 68.41%; /*732px*/
}
.header-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header-nav-item-text {
    font-family: "MullerN";
    font-size: 16px;
    text-decoration: none;
    color: #666666;
}

.header-btn {
    display: flex;
    width: 374px;
    padding: 0 5px;
    justify-content: space-around;
}

.btn-style-text {
    padding: 13px 20px;
    border: 1px solid #CC9933;
    border-radius: 10px;

    font-family: "MullerN";
    font-size: 16px;
    text-decoration: none;
    color: #CC9933;
}

.section-special {
    margin-bottom: 70px;
}
.section-titles {
    font-family: 'MullerN';
    font-size: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.section-special-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.section-special-cards-column {
    width: 573px;
    height: 540px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.section-special-card1 { 
    width: 100%;
    height: 258px;
    border-radius: 15px;
}
.section-special-card2 {
    width: 573px;
    height: 540px;
    border-radius: 15px;
}
.section-special-card1-title {
    width: 420px;
    margin-top: 40px;
    margin-left: 45px;
    margin-bottom: 15px;
    font-family: 'MullerB';
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
}
.section-special-card2-title {
    width: 300px;
    margin-top: 212px;
    margin-left: 45px;
    margin-bottom: 15px;
    font-family: 'MullerB';
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
}
.section-special-card1-price {
    margin-left: 45px;
    margin-bottom: 40px;
    font-family: 'MullerN';
    font-size: 20px;
    color: #FFFFFF;
    opacity: 0.8;
}
.section-special-card2-price {
    margin-left: 45px;
    margin-bottom: 28px;
    font-family: 'MullerN';
    font-size: 38px;
    color: #FFFFFF;
    opacity: 0.8;
}
.section-special-cards-info {
    margin-left: 45px;
    font-family: 'MullerN';
    font-size: 16px;
    text-decoration: none;
    color: #F0BF5F;

    padding-right: 16px;
    background-image: url(/img/right_pointer.svg);
    background-position: right;
    background-repeat: no-repeat;
}
.special_bg1 {
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
    url(/img/cards_bg1.jpg);
}
.special_bg2 {
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
    url(/img/cards_bg2.jpg);
}
.special_bg3 {
    background-image: url(/img/cards_bg3.jpg);
}

.section-about_us {
    margin-bottom: 70px;
}
.section-about_us-text {
    
    font-family: 'MullerN';
    font-size: 16px;
    line-height: 200%;
    max-width: 888px;
    color: #000000;
}
.section-services {
    margin-bottom: 70px;
}
.section-services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.section-services-item {
    display: flex;
    flex-direction: column;
    width: 573px;
    height: 330px;
    background-repeat: no-repeat;
    justify-content: end;
}
.section-services-item:nth-child(1) {
    margin-bottom: 24px;
}

.services_bg1 {
    background-image: url(/img/services_bg1.jpg);
}
.services_bg2 {
    background-image: url(/img/services_bg2.jpg);
}
.services_bg3 {
    background-image: url(/img/services_bg3.jpg);
}
.services_bg4 {
    background-image: url(/img/services_bg4.jpg);
}
.section-services-block {
    height: 165px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 0px 0px 15px 15px;
}
.section-services-info {
    display: inline-block;
    margin-top: 26px;
    margin-left: 45px;
    font-family: 'MullerM';
    font-size: 20px;
    line-height: 200%;
    text-decoration: none;
    padding-right: 20px;
    color:#CC9933;
    
    background-image: url(/img/right_pointer.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15px;
}
.section-services-description{
    font-family: "MullerN";
    font-size: 16px;
    line-height: 200%;
    width: 402px;
    margin-left: 45px;
}
.section-benefits {
    margin-bottom: 70px;
}
.section-benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
}
.section-benefits-item {
    width: 276px;
    height: 276px;
    border-radius: 15px;
}
.section-benefits-icon1 {
    background: url(/img/benefits_icon1.svg) no-repeat left 45px top 40px,
    #FFFFFF;
}
.section-benefits-icon2 {
    background: url(/img/benefits_icon2.svg) no-repeat left 45px top 40px,
    #FFFFFF;
}
.section-benefits-icon3 {
    background: url(/img/benefits_icon3.svg) no-repeat left 45px top 40px,
    #FFFFFF;
}
.section-benefits-icon4 {
    background: url(/img/benefits_icon4.svg) no-repeat left 45px top 40px,
    #FFFFFF;
}
.section-benefits-icon5 {
    background: url(/img/benefits_icon5.svg) no-repeat left 45px top 40px,
    #FFFFFF;
}
.section-benefits-icon6 {
    background: url(/img/benefits_icon6.svg) no-repeat left 45px top 40px,
    #FFFFFF;
}
.section-benefits-icon7 {
    background: url(/img/benefits_icon7.svg) no-repeat left 45px top 40px,
    #FFFFFF;
}
.section-benefits-icon8{
    background: url(/img/benefits_icon8.svg) no-repeat left 45px top 40px,
    #FFFFFF;
}
.section-benefits-text {
    width: 189px;
    margin-top: 116px;
    margin-left: 45px;
    font-family: 'MullerN';
    font-size: 16px;
    line-height: 200%;
}

.section-placement {
    margin-bottom: 70px;
}

.section-placement-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}
.section-placement-item {
    width: 374px;
    height: 440px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 15px;
    overflow: hidden;
}
.section-placement-block {
    height: 233px;
    width: 100%;
    background-color: #FFFFFF;
}
.placement-bg1 {
    background-image: url(/img/placement1.jpg);
}
.placement-bg2 {
    background-image: url(/img/placement2.jpg);
}
.placement-bg3 {
    background-image: url(/img/placement3.jpg);
}
.placement-bg4 {
    background-image: url(/img/placement4.jpg);
}
.placement-bg5 {
    background-image: url(/img/placement5.jpg);
}
.placement-bg6 {
    background-image: url(/img/placement6.jpg);
}
.placement-bg7 {
    background-image: url(/img/placement7.jpg);
}
.placement-bg8 {
    background-image: url(/img/placement8.jpg);
}
.placement-last {
    background-image: url(/img/placement_more.jpg);
    display: flex;
    justify-content: end;
    align-items: center;
}
.placement-last-text {
    box-sizing:content-box;
    width: 250px;
    font-family: 'MullerN';
    font-size: 20px;
    line-height: 200%;
    margin-bottom: 27px;
    color:#FFFFFF;
    text-decoration: none;
    padding-right: 20px;
    background-image: url(/img/right_pointer2.svg);
    background-position: right center;
    background-repeat: no-repeat;
}
.section-placement-price-star {
    /* background-color:cornflowerblue; */
    margin-top: 32px;
    margin-right: 45px;
    margin-left: 45px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.placement-price-ot {
    font-family: 'MullerN';
    font-size: 16px;
    margin-top: 4px;
    margin-right: 4px;
    color:#999999;
}
.placement-price-num {
    min-width: 61px;
    font-family: 'MullerB';
    font-size: 20px;
    margin-right: 4px;
}
.placement-price-night {
    font-family: 'MullerN';
    font-size: 16px;
    margin-top: 4px;
}
.placement-star-block {
    margin-top: 3px;
    width: 94px;
    height: 13.41px;
    display: flex;
    justify-content: space-between;
}
.star-activ {
    fill: #F0BF5F;
}
.placement-name {
    width: 191px;
    margin-left: 45px;
    margin-bottom: 16px;
    font-family: 'MullerM';
    font-size: 16px;
    font-weight: normal;
}
.placement-location {
    width: 191px;
    margin-left: 45px;
    margin-bottom: 16px;
    font-family: 'MullerM';
    font-size: 16px;
    direction: none;
    color: #999999;
    font-style: normal;
    margin-bottom: 20px;
}
.placement-btn-marge {
    margin-left: 45px;
    display: inline-block;
}
.section-tour {
    width: 100%;
    height: 256px;
    background-color: #E9E9E9;
    margin-bottom: 70px;
    border-radius: 15px;
    padding-top: 45px;
}
.section-tour-block {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    height: 106px;
    border-radius: 15px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}
.form-block {
    display: flex;
    flex-direction: column;
}
.tour-form-label {
    font-family: 'MullerN';
    font-size: 12px;
    margin-top: 31px;
    margin-bottom: 15px;
}
.tour-select {
    border: none;
    font-family: 'MullerN';
    font-size: 16px;
    background: none;
    appearance: none;
    -webkit-appearance: none;
    padding-right: 10px;
    min-width: 169px;
    background-image: url(/img/down_pointer.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.tour-date {
    box-sizing: border-box;
    border: none;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    font-family: 'MullerN';
    font-size: 16px;
    background-image: url(/img/calendar.svg);
    background-repeat: no-repeat;
    background-position: right top;
    box-sizing: border-box;
    /* padding-right: 13.33px; */
    min-width: 119.66px;
}
input::-webkit-calendar-picker-indicator{
    display: none;
}
.tour-nights-tourists {
    width: 121px;
    border: none;
    padding: 0;
    border-bottom: 1px solid #E9E9E9;
    font-family: 'MullerN';
    font-size: 16px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
opacity: 1;
margin-bottom: 3px;
}
.tour-btn {
    margin-top: 32px;
    padding-left: 30px;
    padding-right: 30px;
    background: none;
}
.section-contacts {
    margin-bottom: 40px;
}
.section-contacts-block {
    height: 618px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding-top: 45px;

    display: flex;
    justify-content: space-around;
}
.section-contacts-img {
    background-image: url(/img/img-contacts.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 528px;
    width: 653px;
    flex: 0 1 auto;
    border-radius: 10px;
}
.section-contacts-info {
    width: 374px;
    flex: 0 1 auto;
    flex-direction: column;
}
.contact-info-block {
    display: flex;
    justify-content:space-between;
    padding-bottom: 23px;
    border-bottom: 1px solid #E9E9E9;
    margin-bottom: 25px;
}
.info-block-header {
    font-family: 'MullerM';
    font-size: 20px;
    margin: 0;
}
.info-block-text {
    font-family: 'MullerN';
    font-size: 16px;
    line-height: 150%;
    max-width: 229px;
}
.contact-tel {
    text-decoration: none;
    color:#CC9933;
}
.contact-tel-text {
    color: #999999;
}
.contact-btn-block {
    display: flex;
}
.contact-btn {
    padding: 27px 29.5px;
}
.contact-info-block:nth-child(4) {
    margin-bottom: 45px;
}
.footer {
    background: url(/img/footer-sun.svg) right 15% bottom no-repeat,#333333;
    border-radius: 15px;

    font-family: 'MullerN';
    font-size: 16px;
    line-height: 190%;
    color:#FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 45px;
}
.footer-column1 {
    display: inline-block;
    flex-direction: column;
    width: 302px;
}
.footer-text1 {
    margin-bottom: 37px;
}
.footer-text2 {
    margin-bottom: 40px;
}
.footer-links {
    color: #CC9933;
    text-decoration: none;
    line-height: 24px;
}
.footer-column2 {
    width: 359px;
}
.address {
    font-style: normal;
    margin-bottom: 15px;
}
.footer-text3 {
    margin-bottom: 15px;
}
.footer-column3 {
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
}
.footer-link-icon1 {
    background-image: url(/img/footer-link1.svg);
    height: 25px;
    width: 25px;
}
.footer-link-icon2 {
    background-image: url(/img/footer-link2.svg);
    height: 25px;
    width: 25px;
}
.footer-link-icon3 {
    background-image: url(/img/footer-link3.svg);
    height: 25px;
    width: 25px;
}